# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Need remove in publish mode
node_modules
src
examples
dist-ssr
*.local
CHANGELOG.md
*.html
*.png
tsconfig.json
vite.config.ts
vite-rollup.config.ts

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.vscode
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.editorconfig
.prettierrc.yml
